
        .panel{
            flex: 0.5;
            height: 80vh;
            border-radius: 40px;
            cursor: pointer;
            margin-left: 20px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            transition: flex 0.9s ease-in;
        }
        
        .active h2{
            opacity: 1;
            transition: opacity 0.5s ease-in 0.4s;
        }
        h2{
          opacity: 0;
          color: white;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
          font-weight: 200;
          position: absolute;
         /* top: 0; */
          bottom: 10px;
          padding-left: 10px;
         
        }
        .container{
            display: flex;
        }
        .active.panel{
           flex: 5;
           
        }
    