
body {
    background-color: #775BEF;
    box-sizing: border-box;
}

.container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-container {
    display: flex;
}

.icon {
    cursor: pointer;
    background-color: white;
    height: 50px;
    width: 50px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;

}

.icon i {
    font-size: 22px;

}

input {
    border: 0;
    width: 0px;
    transition: 0.6s ease;
}


::placeholder {
    font-size: 19px;
    padding-left: 1px;

}

input.active {
    width: 200px;
    padding: 0px 15px;
}

input:focus {
    outline: none;

}
