body{
    background-color: #8E44AD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: "roboto";
}

.container{
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.container i{
    color: white;
    font-size: 50px;
}

.counter{
    font-weight: 400;
    font-size: 50px;
    padding: 10px 0px;
}
