body{
    background-color: #686DE0;
    font-family: 'Roboto', 'sans-serif';
    height: 100vh;
    margin: 0;
    padding: 15px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.content{
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    width: 700px;
    
}

h3{
    color: #808080;
    font-weight: 600;
    letter-spacing: 2px;
}

p{
    font-size: 30px;
    margin: 50px auto;
    max-width: 600px;
}

button{
    background-color: #9f68e0;
    color: #fff;
    border: 0;
    border-radius: 10px;
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
   
}

