
body {
    background-color: #EFEDD6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

.content {
    width: 400px;
    height: 200px;
    background-color: #4682B4;
    border-radius: 3%;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: translatex(-150%);
    transition: 0.8s ease;
}

.content:nth-child(odd) {
    transform: translatex(250%);
}

.content:nth-child(even) {
    transform: translatex(-250%);
}

.show {
    transform: translate(50px, 30px) !important;
}

h2 {
    text-align: center;
    margin-top: 15%;
    font-size: 40px;
    color: white;
}
