
        body{
            background-color: #4682B4;
            margin: 0;
            padding:0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            
        }

        .container{
            background-color: #294E6C;
            border: 10px;
            width: 300px;
            border-radius: 7px;
            padding: 50px;
            position: relative;
        }

       
        .form-control{
             position: relative;
         }
        input{
            width: 100%;
            background-color: transparent;
            border: 0;
            border-bottom:2px solid white;
           
           
        }
        button{
            width: 100%;
            background-color: #ADD8E6;
            border: 0;
            padding: 10px;
            border-radius: 5px;
            font-size: 15px;
        }
        h1{
            color: white;
            font-weight: 400;
            text-align: center;
            
        }
        span{
         color: white;
        }
        span a{
            color: #ADD8E6;
            text-decoration: none;
        }
        
        .form-control{
            padding: 20px 0px;
            margin: 30px 0px;
        }

        input:focus{
         outline: none;
        }
        label{
            position: absolute;
            top: 0;
            color: white;
            font-size: 17px;
        }
        label span {
            display: inline-block;
            font-size: 18px;
            min-width: 5px;
            transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

       
        input:focus + label span{
            transform: translateY(-20px);
            color:#ADD8E6;
        }

        
            